#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

VERSION=`cat debian/playversion`

DEB_PATH=debian/play
INSTALL_PATH=/usr/share/play/$(VERSION)
ETC_PATH=/etc/play/$(VERSION)
DOC_PATH=/usr/share/doc/play/$(VERSION)
SBIN_PATH=/usr/sbin
%:
	dh  $@

override_dh_auto_build:
	if [ ! -f play-${VERSION}.zip ]; then curl -o play-${VERSION}.zip http://downloads.typesafe.com/play/${VERSION}/play-${VERSION}.zip ;fi
	if [ ! -f play-${VERSION}.zip ]; then cp ../play-${VERSION}.zip ./;fi
	unzip play-${VERSION}.zip -d play


override_dh_auto_clean:
	if [ -f play-${VERSION}.zip ]; then rm play-${VERSION}.zip; fi
	if [ -d play ]; then rm -rf play; fi
	if [ -d ${DEB_PATH} ]; then rm -rf ${DEB_PATH}; fi

override_dh_auto_install:
	install -d $(DEB_PATH)$(INSTALL_PATH) $(DEB_PATH)$(SBIN_PATH) $(DEB_PATH)$(INSTALL_PATH) $(DEB_PATH)$(ETC_PATH) $(DEB_PATH)$(DOC_PATH)
	cp -r play/play-${VERSION}/play $(DEB_PATH)$(INSTALL_PATH)
	cp -r play/play-${VERSION}/framework $(DEB_PATH)$(INSTALL_PATH)
	rm -rf  $(DEB_PATH)$(INSTALL_PATH)/framework/build.bat
	cp -r play/play-${VERSION}/repository $(DEB_PATH)$(INSTALL_PATH)
	cp -r debian/id $(DEB_PATH)$(ETC_PATH)
	ln -s $(ETC_PATH) $(DEB_PATH)$(INSTALL_PATH)/etc
	cp debian/update-play-alternatives $(DEB_PATH)$(SBIN_PATH)/
	sed "s/_VERSION_/$(VERSION)/g" debian/play.prerm.template > debian/play.prerm
	sed "s/_VERSION_/$(VERSION)/g" debian/play.postinst.template > debian/play.postinst
	sed "s/_VERSION_/$(VERSION)/g" debian/patch_sbt.boot.properties.template > debian/patch_sbt.boot.properties
	sed "s/_VERSION_/$(VERSION)/g" debian/patch_play.boot.properties.template > debian/patch_play.boot.properties
	patch $(DEB_PATH)$(INSTALL_PATH)/framework/sbt/sbt.boot.properties debian/patch_sbt.boot.properties
	patch $(DEB_PATH)$(INSTALL_PATH)/framework/sbt/play.boot.properties debian/patch_play.boot.properties
